{% extends 'base.html' %}
{%load static%}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/edit.css' %}">
  <div class="header">
    <h1>설정</h1>
  </div>

  <div class="container box1">
    <h2>Edit profile</h2>

    <!-- profile image -->
    <form action="{%url 'accounts:edit'%}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="d-flex profile_1">
        {%if user.profile_image %}
          <img src="{{ user.profile_image.url }}" alt="post_image" class="col-3" style="width: 110px; border-radius: 100%;" >
        {% else %}
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLIbLTGKz4waJGU2vkbhQkRavjf2OdeY7Eo4l8yFnggdF3fX1bUF4FEUP13o34ioSCm-M&usqp=CAU" alt="no_image" class="col-3" style="width: 110px; object-fit: cover;">
        {% endif %}
        <!-- ID -->
        <div class="form-group sub_1">
          <h2>
            {{ user.username }}
          </h2>
          <!-- 사진등록 Input -->
          <input type="file" class="form-control" name="profile_image" id="profile_image">
        </div>
      </div>

      <div class=" sub_2">
        <!-- 웹사이트 -->
        <div class="sub2-2" style="text-align:center">
          <label>웹사이트</label>
          <input type="text" placeholder="웹사이트" disabled="disabled">
        </div>

        <div>
          <!-- 웹사이트 메시지 -->
          <p>링크 수정은 모바일에서만 가능합니다. Instagram 앱으로 이동하여 프로필의 소개에서 웹사이트를 변경하여 수정하세요.</p>
        </div>

      </div>

      <!-- 소개 -->
      <div class="sub">
        <label>소개</label>
        <textarea class="comment_1" name="status_message" id="status_message" cols="30" rows="10">{{ user.status_message }}</textarea>
      </div>

      <!-- 버튼 -->
      <div class="button_settings">
        <input type="submit" class="btn btn-primary" value="Submit">
        <a href="{% url 'accounts:delete' %}" class="btn btn-danger">회원탈퇴</a>
      </div>
    </form>
  {% endblock content %}
