<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="{% url 'accounts:login' %}" method="POST">
    {% csrf_token %}
    <div>
      <label class="ps-3" for="{{ form.username_id_for_label }}">아이디</label>
      {{ form.username }}
    </div>
    <div>
      <label for="{{ form.password_id_for_label }}">비밀번호</label>
      {{ form.password }}
    </div>
    <div >
      <input type="submit" value="로그인">
    </div>
  </form>
</body>
</html>