<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>detail</h1>
  {% for post in posts %}
    {{ post.content }}
  {% endfor %}

  {% for post_image in post.post_images.all %}
    <img src="{{ post_image.image.url }}" alt="">
  {% endfor %}
  
  <!-- comment part -->
  <p>댓글 목록 (댓글 길이 : {{ comments|length }}) </p>
  
  <ul>
    {% for comment in comments %}
      <li>
        <p>댓글 : {{ comment.content }}</p> <!-- - {{ comment.user }} -->
        
        {% comment %} {% if request.user == comment.user %} {% endcomment %}
        <form action="{% url 'posts:comments_delete' post.pk comment.pk %}" method="post">
          {% csrf_token %}
          <input type="submit" value="댓글삭제">
        </form>
        {% comment %} {% endif %} {% endcomment %}
        
          <ul>
            {% for cocomment in cocomments %}
              {% if cocomment.parent_comment == comment %}
                <li>
                  <p>{{ cocomment.content }}</p>
                  {% comment %} {% if request.user == comment.user %} {% endcomment %}
                  <form action="{% url 'posts:comments_delete' post.pk cocomment.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="대댓글삭제">
                  </form>
                  {% comment %} {% endif %} {% endcomment %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          
          <form action="{% url 'posts:comments_create' post.pk comment.pk %}" method="post">  
            {% csrf_token %}
            {{ comment_form }}
            <input type="submit" value="대댓글 등록">
          </form>
          
      </li>
      
    {% empty %}
      <p>첫 댓글을 작성해보세요!</p>
    {% endfor %}
    
  </ul>
  
  <form action="{% url 'posts:comments_create' post.pk 0 %}" method="post">  
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="댓글 등록">
  </form>
  
</body>
</html>